.create_form form {
	display: flex;
	flex-direction: column;
	color: white;
	gap: 1rem;
}
.create_form h2 {
	color: white;
}
.create_form input , .create_form textarea {
	width: 100%;
	padding: 10px;
	color: var(--HeaderText);
	font-size: 1rem;
	outline: none;
	border-radius: 10px;
	border: 2px solid var(--HeaderText);
}