.all_posts__wrapper {
	display: grid;
	grid-template-columns: repeat(2 , 1fr);
	gap: 1rem;
	margin-bottom: 3rem;
}
.all_posts__wrapper h2 {
	font-size: 2rem;
}


@media (width < 1000px) {
	.all_posts__wrapper {
		gap: 0;
		row-gap: 1rem;
		grid-template-columns: 1fr;
	}
	
}
@media (width < 700px) {
	.all_posts__wrapper {
		gap: 2rem;
	}
}
@media (width < 550px) {
	.all_posts__wrapper h2 {
		font-size: 1.3rem;
	}
}