.admin_panel {
	width: 100%;
	display: flex;
}
.admin_panel h2 {
	color: white;
}
.admin_nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--Primary);
}
.active {
	background-color: #547554;
}