.news__wrapper {
	margin-top: 6rem;
}
.news__title {
	display: inline-flex;
	flex-direction: column;
}
.news__title a {
	margin-top: 10px;
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;

}
.news__title a::before {
	content: '';
	width: 60%;
	height: 2px;
	background-color: var(--Primary);
}
.news__title a::after {
	content: url('img/icon/arrow-right.svg');
}

.news__posts {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(3 , 1fr);
	gap: 1rem;
}

.news_post:first-child {
	width: 100%;
	grid-row: 1/4;
}
.news_post:not(:first-child) {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: stretch;
	padding: 1rem 0;
}
.news_post:nth-child(2){
	padding-top: 0;
}
.news_post:nth-child(3){
	border-top:  1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4 ;
}
.news_post__text {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.news_post__text h4 {
	font-weight: 700;
}
.news_post__text span {
	font-weight: 500;
	font-style: italic;
}
.news_posts__info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.news_posts__info a {
	padding: 0;
	border: none;
	display: flex;
	align-items: center;
	gap: 5px;
}
.news_posts__info a::after {
	content: url('img/icon/arrow-right.svg');
}
@media (width < 1200px) {
	.news__posts {
		grid-template-columns: .7fr 1fr;
	}
}
@media (width < 990px) {
	.news__posts {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.news__title {
		width: 60%;
	}
	.news__title a:before {
		width: 20%;
	}
}