:root {
  --Primary : #475F45 ;
  --HeaderText : #343D33;
  --Body : #414840;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  max-width: 100%;
}
body {
  min-height: 100%;
  font-family: 'Roboto';
  line-height: 150%;
  font-weight: 400;
  font-size: 16px;
  color: var(--Body) ;
  background-color: white;
}


h1 {
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 57px;
  line-height: 110%;
  color: var(--HeaderText);
}
h2 {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 45px;
  line-height: 110%;
  color: var(--HeaderText);
}
h3 {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  color: var(--HeaderText);
}
h4{
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 23px;

  color: var(--Primary);
}
button , a {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.15rem;
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
  white-space: nowrap;
}
button {
  color: white;
  background-color: var(--Primary);
  border: 1px solid var(--HeaderText);
}
button:hover {
  background-color: #547552;
}
a {
  text-decoration: none;
  background-color: #fff;
  color: var(--Primary);
  border: 2px solid var(--Primary);
}
a:hover {
  color: #547552;
  border-color: #547552;
}
.social_icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
input , textarea {
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  color: var(--HeaderText);
  transition: all .5s ease-in;
}
input:hover , textarea:hover {
  box-shadow: 2px 2px  var(--Body);
}
input:focus , textarea:focus {
  box-shadow: inset 2px 2px  var(--Body) ;
}

@media (width < 1200px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 24px;
  }
  body {
    font-size: 18px;
  }
}
@media (width < 768px) {
  body {
      font-weight: 300;
      font-size: 16px;
  }
  button , a {
    padding: 15px 30px;
  }
  
}
@media (width < 550px) {
  
  h1 {
    font-size: 36px;
    text-align: center;
  }
  h2 {
    font-size: 21px;
    text-align: center;
  }
  button , a {
    padding: 10px 20px;
  }
}